@media (min-width:300px){
    .big_card{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: var(--card_background);
        border-bottom-left-radius: .3rem;
        border-bottom-right-radius: .3rem;

        padding: 2rem 0;
        margin-bottom: 2rem;

        position: relative;

        &:hover,&:active{
            filter: var(--card_hover);
            cursor: pointer;
        }
        
        &::before{
            position: absolute;
            content: "";
            width: 100%;
            height: 4px;
            border-top-left-radius: .3rem;
            border-top-right-radius: .3rem;
            top: -4px;
        }

        &__wrap{
            display: grid;
            gap: 1.25rem;
        }

        &__heading{
            color: var(--sub_text);
            display: flex;
            align-items: center;
            font-size: 1rem;

            margin-bottom: 1rem;

            img{
                margin-right: .5rem;
                margin-left: -.5rem;
                width: 1.5rem;
            }
        }
        &__big_number{
            font-size: 4rem;
            font-weight: bold;
            color: var(--main_text);
        }
        &__followers{
            color:var(--sub_text);
            text-transform: uppercase;
            letter-spacing: .35rem;
            margin-bottom: 1.75rem;
        }
        &__new_followers{
            color: $lime_green;
            display: flex;
            align-items: center;
            font-weight: bold;
            img{
                margin-right: .2rem;
                margin-left: -.2rem;
                margin-top: .125rem;
            }
        }
        &:nth-child(1){
            &::before{
                background: $facebook;
            }
        }
        &:nth-child(2){
            &::before{
                background: $twitter;
            }
        }
        // Needs to be done with a pseudo element to apply gradient
        &:nth-child(3){
            &::before{
                background: $instagram;
            }
        }
        &:nth-child(4){
            &::before{
                background: $youtube;
            }
        // red/lost followers/viewers
            .big_card__new_followers{
                color: $bright_red;
            }
        }
    }
    .daily_overview{
        color: var(--main_text);
        font-size: 1.75rem;
        margin-bottom: 2rem;
    }
}

@media (min-width:1024px){
    .big_card{
        &__wrap{
            grid-template-columns: repeat(4,1fr);
            gap: 1.75rem;
        }
    }
}