
// ### Primary

$lime_green: hsl(163, 72%, 41%);
$bright_red: hsl(356, 69%, 56%);

$facebook: hsl(195, 100%, 50%);
$twitter: hsl(203, 89%, 53%);
$instagram: linear-gradient hsl(37, 97%, 70%) to hsl(329, 70%, 58%);
$youtube: hsl(348, 97%, 39%);

// #### Dark Theme

$toggle_dark: linear-gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);

// #### Light Theme

$toggle_light: hsl(230, 22%, 74%);

// ### Neutral

// colors inside root element to make switchable theme

:root{

// #### Dark Theme

--background_dark: hsl(230, 17%, 14%);
--background_pattern_dark: hsl(232, 19%, 15%);
--card_background_dark: hsl(228, 28%, 20%);
--sub_text_dark: hsl(228, 34%, 66%);
--main_text_dark: hsl(0, 0%, 100%);

// #### Light Theme

--background_light: hsl(0, 0%, 100%);
--background_pattern_light: hsl(225, 100%, 98%);
--card_background_light: hsl(227, 47%, 96%);
--sub_text_light: hsl(228, 12%, 44%);
--main_text_light: hsl(230, 17%, 14%);

// Default theme

--background:var(--background_light);
--background_pattern:var(--background_pattern_light);
--card_background:var(--card_background_light);
--sub_text:var(--sub_text_light);
--main_text:var(--main_text_light);

}
