*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@media (min-width:300px){
    .background_pattern{
        height: 30vh;
        width: 100%;
        left: 0;
        background-color: var(--background_pattern);
        position: absolute;
        z-index: 1;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
    }
    .background{
        width: 100%;
        height: 100%;
        background-color: var(--background);
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;
    }
    .content_wrap{
        position: relative;
        z-index: 2;
    }
    .page_wrap{
        max-width: 375px;
        width: 100%;
        margin: auto;
        padding: 0 1.25em;
        background-color: var(--background);
    }
}

@media (min-width:1024px){
    .page_wrap{
        max-width: 1440px;
        height: 800px;
    }
}