@media (min-width:300px){
    .header{
        padding-top: 1.75em;
        &__text_wrap{
            margin-bottom: 2.5rem;
            position: relative;
            &::after{
                position: absolute;
                content: "";
                width: 100%;
                height: 1px;
                background-color: var(--sub_text);
                bottom: -1.25rem;
            }
        }
        &__heading{
            font-size: 1.5rem;
            color: var(--main_text);
        }
        &__paragraph{
            font-weight: bold;
            color: var(--sub_text);
        }
    }
    .theme{
        &__wrap{
            margin-bottom: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__text{
            color: var(--sub_text);
            font-weight: bold;
        }
        &__label{
            display: block;
            width: 55px;
            height: 26px;
            background: var(--toggle);
            border-radius: 2rem;
            cursor: pointer;

            position: relative;
            &::before{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                border-radius: 50%;
                top: 3px;
                right: 3px;
                background-color: var(--background);

                transition: all 150ms;
            }
            &:hover,&:active,&:focus{
                background:var(--toggle_dark);
                filter: brightness(1.2);
            }
        }
    }
}